---
layout: products
title: Calving Camera Systems
subTitle: Information site dedicated to Calving Camera Systems
bg-img: calving-camera-creevagh.jpg

slides:
   - title: Calving Cameras
     heading: Monitor your cows during calving season
     text: Keeping a good eye on the welfare of your animals.
     image: /img/cow-and-calf-creevagh.png
     thumb: /img/cow-and-calf-creevagh.png
   - title: Directional Antennas
     heading: Long Range Wireless Connection
     text: 
     link: /wireless/2015/05/26/ip-wireless-directional-antenns.html
     image: /img/long-range-cctv.png
     thumb: /img/long-range-cctv.png
   - title: Remote Viewing
     heading: Watch your cows in there pens from the comfort of your home.
     text: 
     image: /img/cows-in-pen.jpg
     thumb: /img/cows-in-pen.jpg
   - title: Mobile Devices
     heading: Combatible with most Mobile devices
     image: /img/major/s8.png
     thumb: /img/major/s8t.jpg
   - title: Remote Viewing
     heading: Connect System to the Internet
     image: /img/major/s2.png
     thumb: /img/major/s2t.jpg
---

<h1>BLOG POSTS</h1>
<hr style="border-top: 1px solid #000;" />

{% for post in site.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ post.description }}
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">{% if post.author %}{{ post.author }}{% else %}{{site.author}}{% endif %}</a> on {{ post.date | date: "%b %-d, %Y" }}</p>
    </div>
    <hr>        
{% endfor %}

{% include markup.html %}

{% include products-preview.html %}

<!-- Pager 

<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>

<hr>
-->

<!--

<div class="container">
  <div class="row">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
-->