---
layout: page
title: Calving Camera Systems
subTitle: A Calving Camera Review Site
bg-img: home-bg.jpg
---

{% for post in site.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ post.description }}
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">{% if post.author %}{{ post.author }}{% else %}{{site.author}}{% endif %}</a> on {{ post.date | date: "%b %-d, %Y" }}</p>
    </div>
    <hr>        
{% endfor %}

<!-- Pager 

<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>

<hr>
-->

<!--

<div class="container">
  <div class="row">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
-->