<div id="modal" title="Purchase Product" style="display:none;">
   <div class="modal-header">
   		<span class="lead">Product Checkout<img src="/img/new_visa_medium.gif" class="pull-right">
   		</span>
   	</div>
   <div class="modal-body">
   		<label><i class="icon-user"></i><span> Name on Card</span>
   		</label>	
   		<input type="text" class="input-medium">
		<label><i class="icon-barcode"></i><span> Card Number</span>
		</label>
		<input type="text" placeholder="•••• •••• •••• ••••" maxlength="16" class="input-medium">
		<label><i class="icon-time"></i><span> Expiration Date</span>
		</label>
		<input type="text" placeholder="MMYY" maxlength="4" class="input-mini">
		<label><i class="icon-qrcode"></i><span> Card Code</span>
		</label>
		<input type="text" placeholder="CVC" maxlength="4" class="input-mini">
   	</div>
   	<div class="modal-footer">
   		<button id="buy-cancel" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>
   		<button id="buy-confirm" class="btn btn-primary">Buy</button>
   	</div>
</div>
