<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                  {% for page in site.pages %}
                    {% if page.title %}
                      <li>
                        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        <li class="footer-menu-divider">&sdot;</li>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
