<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/jquery-ui.js" | prepend: site.baseurl }}"></script>
<!-- jQuery Rating System Plugin -->
<script src="{{ "/js/jquery.raty.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>


<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js" | prepend: site.baseurl }}"></script>