<script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "Calving Camera Systems",
       "alternateName" : "Farm Calving Cameras",
       "url" : "http://calvingcamerasystems.com"
    }
</script>
<script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "Organization",
	  "name" : "Calving Camera Systems",
	  "url" : "http://calvingcamerasystems.com",
	  "sameAs" : [ "https://www.facebook.com/calvingcamerasystems",
	    "http://twitter.com/calvingcameras",
	    "https://plus.google.com/102203448697986180431"] 
	}
</script>