---
layout: default
---
<div class="post">

	<!-- Post Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" style="background-image: url('{{ "/img/" | prepend: site.baseurl }}{{ page.bg-img }}')">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                <div class="post-heading {% if page.text-color %}{{ page.text-color }}-post-heading{% endif %}">
	                    <h1>{{ page.heading }}</h1>
	                    <h2 class="subheading">{{ page.subHeading }}</h2>
	                    <span class="meta">Posted by <a href="#">{% if page.author %}{{ page.author }}{% else %}{{site.author}}{% endif %}</a> on {{ page.date | date: "%b %-d, %Y" }}</span>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>

	<script type="application/ld+json">
		{ "@context": "http://schema.org",
		"@type": "Article",
		"headline": "{{ page.heading }}",
		"alternativeHeadline": "{{ page.subHeading }}",
		"image": "{{ page.bg-img }}",
		"author": "{% if page.author %}{{ page.author }}{% else %}{{site.author}}{% endif %}",
		"datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
		"description": "{{ page.description }}"
		}
	</script>

  	<!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                	<div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

    				{{ content }}
               </div>
            </div>
        </div>
    </article>

</div>
