---
layout: default
---
<div class="post">

	<header class="intro-header">
		<!-- all we want here is a margin -->
	</header>
  	<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          	<div class="hero-unit">
				<div class="row">
					<div class="col-md-3">
						<img src="/img/products/{{ page.image }}" id="tooltip-{{ page.slug }}" rel="tooltip" title="{{page.subTitle}}" class="img-polaroid small-img" />
					</div>
					<div class="col-md-7">
						<p>
							<strong>Title:</strong>
							<span>{{page.title}}</span>
							<br>
							<strong>Rating:&nbsp;</strong>
							<span class="stars" id="rating-{{ page.slug }}" data-rating="{{page.rating}}" data-suspended="suspended" data-star-big="Yes">
							</span>
							<span>{{page.rating}}</span>
						</p>
						<button id="buy-{{ page.slug }}" data-game-title="{{ page.title }}" role="button" data-toggle="modal" class="btn btn-primary btn-large buy" onClick="_gaq.push(['_trackEvent', 'buy', 'button', 'Tried to buy {{ page.title }}.']);"><i class="fa fa-shopping-cart fa-lg"></i> {{page.price}}</button>
					</div>
				</div>
			<!--	
				<small>
					<i class="icon icon-star glyphicon-star"></i>
					<span> Tip: Mouse over the product to see a large picture.</span>
				</small>
			-->
				<div class="fb-like row" data-href="{{ page.url | prepend: site.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
			</div>
			<br/>
			<div class="row">
				{% for image in page.images %}
				<div class="col-md-3">
					<img src="/img/products/{{ image.name }}" id="tooltip-{{ image.slug }}" rel="tooltip" title="{{ image.title }}" class="img-polaroid small-img" />
				</div>
				{% endfor %}
			</div>

			<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Product",
				"name": "{{page.title}}",
				"offers": {
					"@type": "Offer",
					"price": "{{page.price}}",
					"priceCurrency": "EUR"
				},
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "{{page.rating}}",
					"reviewCount": "{{page.reviews}}"
				}
			}
			</script>
			<br/>
			<h3>Product Summary</h3>
			<div>
            {{ content }}
        	</div>
			<br/>
			<div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <br/>
			<a href="/products">
			    <h3>Other products</h3>
			</a>
			<hr style="border-top: 1px solid #000;" />

			<div class="row">
		       {% for ipage in site.pages %}
		          {% if ipage.layout == 'product' and ipage.title != page.title %}
		         <div class="col-md-4">
		            <!-- product image-->
		            <div class="row">
		                <a href="{{ ipage.url }}"><img src="/img/products/{{ ipage.image }}" class="img-polaroid small-img"></a>
		            </div>
		            <div class="row">
		            <!-- product title-->
		            <a href="{{ ipage.url }}"><strong>{{ ipage.title }}</strong></a>
		            </div>
		            <!-- buy button-->
		            <!--<button id="buy-ip-camera-1" data-product-title="Wireless PTZ IP Camera" role="button" data-toggle="modal" class="btn btn-primary btn-mini buy"><i class="icon-shopping-cart icon-white"></i>{{ page.price }}</button>
		            -->
		            <div class="row">
		               <!-- product rating-->
		               <span class="stars" id="rating-{{ ipage.slug }}" data-rating="{{ ipage.rating }}" data-suspended="suspended">
		               </span>
		                     <span>{{ ipage.rating }}</span>
		            </div>
		         </div>

		          {% endif %}
		       {% endfor %}
			</div>

          </div>
      </div>
    </div>
    {% include buy.html %}
</div>
