---
layout: default
---
<div class="post">

	<header class="intro-header">
		<!-- all we want here is a margin -->
	</header>
  	<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          	<div class="hero-unit">
				<div class="row">
					<div class="col-md-3">
						<img src="/img/products/{{ page.image }}" id="tooltip-{{ page.slug }}" rel="tooltip" title="{{page.subTitle}}" class="img-polaroid small-img" />
					</div>
					<div class="col-md-7">
						<p>
							<strong>Title:</strong>
							<span>{{page.title}}</span>
							<br>
							<strong>Rating:&nbsp;</strong>
							<span class="stars" id="rating-{{ page.slug }}" data-rating="{{page.rating}}" data-suspended="suspended" data-star-big="Yes">
							</span>
							<span>{{page.rating}}</span>
						</p>
						<button id="buy-{{ page.slug }}" data-game-title="{{ page.title }}" role="button" data-toggle="modal" class="btn btn-primary btn-large buy"><i class="icon-shopping-cart icon-white"></i>{{page.price}}</button>
					</div>
				</div>
			<!--	
				<small>
					<i class="icon icon-star glyphicon-star"></i>
					<span> Tip: Mouse over the product to see a large picture.</span>
				</small>
			-->
			</div>
			<div class="row">
				{% for image in page.images %}
				<div class="col-md-3">
					<img src="/img/products/{{ image.name }}" id="tooltip-{{ image.tip }}" rel="tooltip" title="{{ image.title }}" class="img-polaroid small-img" />
				</div>
				{% endfor %}
			</div>

			<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Product",
				"name": "{{page.title}}",
				"offers": {
					"@type": "Offer",
					"price": "{{page.price}}",
					"priceCurrency": "EUR"
				},
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "{{page.rating}}",
					"reviewCount": "{{page.reviews}}"
				}
			}
			</script>

			<h3>Product Summary</h3>
            {{ content }}
          </div>
      </div>
    </div>

</div>
